---
import TopSection from '../components/TopSection.astro';
import Works from '../components/Works.svelte';
import Contacts from '../components/Contacts.astro';
import Synth from '../components/Synth.svelte';
import Player from '../components/Player.svelte';
import Background from '../components/Background.svelte';

let title = 'Lorenzo Leonardini';
let description = 'Profile page of a self-taught developer. Portfolio, skills and contacts';
let url = 'https://leonardini-dev.netlify.app';
let image = 'https://leonardini.dev/images/person.jpeg';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="{Astro.resolve('../style/global.css')}">
	<meta name="theme-color" content="#1A181B" />

	<!-- SEO -->
	<meta name="description" content="{description}">
	<link rel="canonical" href="{url}">
	<meta name="robots" content="index, follow">
	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{title}">
	<meta property="og:description" content="{description}">
	<meta property="og:image" content="{image}">
	<meta property="og:url" content="{url}">
	<meta property="og:site_name" content="{title}">
	<!-- Twitter Cards -->
	<meta property="twitter:title" content="{title}">
	<meta property="twitter:description" content="{description}">
	<meta property="twitter:image" content="{image}">
	<meta property="twitter:url" content="{url}">
	<meta property="twitter:creator" content="@_lorenzo_leo">

	<style>
		.sticky {
			position: sticky;
			top: -2px;
			z-index: 999;
			margin-bottom: -60px;
		}

		.sticky + section {
			padding-top: 90px;
		}
	</style>
</head>
<body>
	<main>
		<TopSection />

		<div class="separator"></div>
		<div class="text-section">
			<h2>About me</h2>
			<div style="width: 90%; max-width: 700px; margin: 1em auto; font-size: .9em; opacity: .95">
				<p>
					I am a computer science student at the University of Pisa, Italy. I am a member of the <a href="https://zenhack.it" target="_blank" rel="noreferrer">ZenHack CTF team</a>. I am interested in coding, cyber security, electronics, music, and every combination of them.
				</p>
				<p>
					I mainly play guitar and saxophone, but also bass and synths and everything I can put my hands on. I make music <a href="https://music.leonardini.dev" target="_blank" rel="noreferrer">by myself</a> and with my band <a href="https://papillegustative.com" target="_blank" rel="noreferrer">:Papille Gustative</a>.
				</p>
			</div>
		</div>

		<section class="dark-bg inverted">
			<div class="container noleft-mobile">
				<Background />
			</div>
		</section>

		<div class="separator"></div>
		<div>
			<div class="sticky">
				<Player client:visible />
			</div>

			<section class="light-bg">
				<Works client:idle />
			</section>
		</div>

		<div class="separator"></div>
		<Contacts client:loads />
		<!-- <div class="separator"></div> -->

		<div style="background: linear-gradient(90deg, #f0f0f0 0%, #f0f0f0 50%, #202020 50%, #202020 100%)">
			<section class="dark-bg" style="height: 100vh;">
				<div class="container"></div>
			</section>
		</div>

		<div class="separator"></div>
		<Synth client:visible />
		
	</main>
</body>
</html>
